<!DOCTYPE html>
<html ng-app="meuModuloMain">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular JS</title>
    <link rel="stylesheet" href="css/materialize/materialize.min.css">
</head>

<body ng-controller="indexController">
    <header class="container">
        <h2 ng-bind="titulo"></h2>
    </header>

    <main class="container">

        <div class="row">
            <input type="text" ng-model="busca" placeholder="Busca">
            <!--Posso buscar de acordo com o atributo do objeto: busca.nome, busca.nota1, busca.email etc....-->
        </div>

        <table class="striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Nota 1</th>
                    <th>Nota 2</th>
                    <th>Nota 3</th>
                    <th>Média</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="aluno in alunos | filter:busca">
                    <td>{{aluno.nome}}</td>
                    <td>{{aluno.email}}</td>
                    <td>{{aluno.nota1}}</td>
                    <td>{{aluno.nota2}}</td>
                    <td>{{aluno.nota3}}</td>
                    <td>{{aluno.media}}</td>
                </tr>
            </tbody>
        </table>

    </main>


    <!--Importações-->
    <script type="text/javascript" src="lib/jquery3-4-1.min.js"></script>
    <script src="lib/materialize/materialize.min.js"></script>
    <script src="lib/angularjs/angular.min.js"></script>

    <!--Angular JS-->
    <script type="text/javascript">
    angular.module("meuModuloMain", [])
        .controller("indexController", function($scope){

            $scope.titulo = "Sistema com Angular JS 1.7.8";

            

            $scope.alunos = [
                {nome: "Murillo Pezzuol", email: "murillo@gmail.com", nota1: 10, nota2: 10, nota3: 9.5},
                {nome: "Gaybriel Hideki", email: "gaybriel@outlook.com", nota1: 7, nota2: 5, nota3: 10},
                {nome: "Egon Sintoatras", email: "egon@hotmail.com", nota1: 8, nota2: 5, nota3: 9},
                {nome: "Tiago Master", email: "tiago@bol.com", nota1: 8, nota2: 7, nota3: 4},
                {nome: "Raul Pezzuol", email: "raul@gmail.com", nota1: 3, nota2: 3, nota3: 10}
            ];

            var initMedia = function(){
                $scope.alunos.forEach(function(aluno){
                    //Para cada aluno eu crio uma nova propriedade 'media' que recebe o retorno da função que calcula media
                    aluno.media = calcularMedia(aluno);
                });
            }

            var calcularMedia = function(aluno){
                console.log("Calculando Média do Aluno: "+aluno.nome);
                return ((aluno.nota1 + aluno.nota2 + aluno.nota3) /3).toFixed(2);
            }


            //Inicializa o calculo da média para melhorar performace
            initMedia();

        });

    </script>

</body>
</html>